@import 'nib'
@import 'nib/gradients'

azul = #1f66c8
amarillo = #FDE962
azulF = #013968
azulC= #C9E4FF
gris = #668499
azulHeader = #53a6f5


body
	overflow-x hidden
	height 3000px
header
	background azulHeader
	padding 10px 0 6px 0
	border-bottom 3px solid amarillo
	height 165px
	div //row
		text-align center

		.gt-logo, .vb-plus
			width 170px
			height 105px
		
		
	.nav-contenedor
		height 10%
		.navegador
			background white
			border-color white
			margin-top 10px
			border-radius 4px
			ul
				float none
				text-align center
				li
					float none
					//display block
					border-left 1px solid gris
					a
						padding 5px 8px 6px 8px
						font-weight 600
						color black
					input
						border none
						outline none
						width 100px
						margin-top 2px
						border-radius 4px
						height 25px
					span
						position absolute
						font-size 18px
						font-weight 600	
						margin-top 5px
				li:first-child
					border-left 0
					margin-right 20px
					span
						margin-top -3px
						position absolute
				li:nth-child(6)
					border-right 1px solid gris
				li:nth-child(7)
					border-right none
				li:last-child
					border-left none
					a
						margin-left 50px
						color amarillo
						font-weight 900
						font-size 14px
						text-shadow -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red
				li:nth-child(8)
					border-left none
				a:hover
					color amarillo


@media (min-width: 768px)
	.inline-b
		border none
		display inline-block


@media (min-width: 768px)
	.banner-header
		width 728px
		height 90px
	.nav-contenedor
		width 1200px


@media (max-width: 768px)
	.banner-header
		width 468px
		height 60px
	.first-li-nav
		margin-bottom 15px

	

@media (max-width: 599px)
	.banner-header
		width 392px
		height 72px
@media (min-width: 599px)
	.navegador
		margin-left 2%
		margin-right 2%

@media (max-width: 479px)
	.banner-header
		width 234px
		height 60px

				