@import 'nib'
@import 'nib/gradients'

azul = #1f66c8
amarillo = #FDE962
azulF = #013968
azulC= #C9E4FF
gris = #668499
azulHeader = #53a6f5


body
	overflow-x hidden
	height auto
	
	header
		background azulHeader
		padding 10px 0 6px 0
		border-bottom 3px solid amarillo
		height 165px
		box-shadow 2px 2px 3px 2px gris
		z-index 3
		
		div //row
			text-align center
			margin-right 0
			margin-left 0
			//height 105px
		.row-header-imagenes
			height 105px
			.gt-logo, .vb-plus
				width 170px
				height 105px
			
		.row-header-nav
			.nav-contenedor
				height 10%
				width 100%
				text-align center
				
				
				.navegador
					text-align center
					background white
					border-color white
					margin-top 10px
					border-radius 4px
					
					ul
						overflow scroll
						float none
						text-align center
						li
							text-align center
							height auto
							float none
							//display block
							border-left 1px solid gris
							a
								padding 5px 8px 6px 8px
								font-weight 600
								color black
							input
								border none
								outline none
															
								margin-top 2px
								border-radius 4px
								height 25px
							span
								float right
								
								font-size 18px
								font-weight 600	
								margin-top -20px
						li:first-child
							border-left 0
							margin-right 20px
							
							span
								margin-top -3px
								position absolute
						li:nth-child(6)
							border-right 1px solid gris
						li:nth-child(7)
							border-right none
							border-left none
						li:last-child
							border-left none
							a
								margin-left 50px
								color amarillo
								font-weight 900
								font-size 14px
								text-shadow -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red
						li:nth-child(8)
							border-left none
						a:hover
							color amarillo
							

	.cuerpo-guia
		padding 0 2.5%
		z-index 0
		.row
			
			.estados-lista, .arte-lista
				box-shadow 3px 3px 8px gris
				background azulC
				border-radius 10px
				margin-top 5px
				height 90vh
				
				
				
				h2
					height	auto
					margin-bottom 10px
					text-align center
					color azulF
					text-shadow -1px 1px 2px #555
					font-size 20px
					margin-top 7px
					padding 0
					font-weight 600
					box-shadow none
				ul
					box-shadow none
					overflow scroll
					overflow-x hidden
					list-style none
					padding 0
					margin 0
					height 77%
					li
						box-shadow none
						height auto	
					
						
						img
							width 120px
							height 240px
						a
							color azulF
							box-shadow none
						a:hover
							color azul
					.li-banner
						margin-top 25px
						text-align center
			.arte-lista
				ul
					overflow-y hidden
			
			.estados-small, .arte-small
				text-align center
				z-index 2
				

				
				
				button
					margin-top 10px
					background azulC
					color azul
					width 80%
					span
						margin-left 10px
				ul
					overflow-y scroll	
					li
						a
							color azulF
						
					li:nth-child(2n)
						background azulC
				.scrollable-menu
					height auto
					max-height 80vh
					overflow-x hidden
			
			.home-contenido	
				height auto
				text-align center
				.videos
					margin-top 15px
					video
						width 100%
				.contenedor
					.elemento
						background #f1f8ff
						border-radius 10px
						float left
						margin-top 15px
						margin-left 6px
						padding 0
						h4
							text-align center
							a
								color #007c92
								font-size 15px
								font-weight 700
						img
							width 100%
							margin-bottom 30px
						p
							text-align left
							color #444
							font-size 12px
							padding 0 5px
				
					
						
					


//@media (min-width: 768px)
	

@media (max-width: 767px)
	.navegador
		ul
			li:nth-child(n)
				background azulHeader
			li:nth-child(2n)
				background azul
			li:first-child
				width 100%
			li:nth-child(7)
				text-align center
				background none

				input
					background azulC
					width 100%
				span
					float left
					margin-left -15px
			li:last-child
				background none

	.estados-lista, .arte-lista
		ul
			li
				a
					color azul
					


//@media (min-width: 1129)
	//.elemento
		//width 30%



@media (min-width: 992px)
	.inline-b
		input
			width 250px
	//.elemento
	//	width 27%



@media (min-width: 768px)
	.banner-header
		width 728px
		height 90px
	.nav-contenedor
		width 1200px
		.inline-b
			border none
			display inline-block
			input
				width 100px
		

@media (max-width: 768px)
	.banner-header
		width 468px
		height 60px
	.first-li-nav
		margin-bottom 15px
	.inline-b
		input
			margin-left 5px
			
		span
			margin-right 20px
	.elemento
		width 92%
@media (max-width: 599px)
	.banner-header
		width 392px
		height 72px
@media (min-width: 599px)
	.navegador
		margin-left 2%
		margin-right 2%
		

@media (max-width: 479px)
	.banner-header
		width 234px
		height 60px

				