doctype html

html(lang="es")
	head
		title Guia Turistica México
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="import", href="polymer-elements/header-nav.html")
		link(rel="import", href="polymer-elements/estados-lista.html")
		link(rel="import", href="polymer-elements/arte-cultura.html")
		link(rel="import", href="polymer-elements/estados-lista-small.html")
		link(rel="import", href="polymer-elements/arte-cultura-small.html")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(name="site_name" content="Guia Turistica México")
		meta(name="description" content="La fuente de información que el sector turístico estaba necesitando. Directorio Turístico con información sobre destinos y herramientas para el turista.")
		meta(name="title" content="Guia Turistica México")

	body
		//header-nav
		div(class="container-fluid")
			header
				div(class="row row-header-imagenes")
					div(class="col-md-3 col-lg-2 hidden-xs hidden-sm")
						img(src="../img/GT-logo.png", alt="Guia Turistica Logo", class="gt-logo")
					div(class="col-sm-12 col-md-8")
						img(src="../img/banner-header.jpg", alt="banner-superior", class="banner-header")
					div(class="col-lg-2 hidden-md hidden-sm hidden-xs")
						img(src="../img/VB-plus.png", alt="Viajes Bojorquez Plus", class="vb-plus")
				div(class="row row-header-nav")
					div(class="col-sm-12 nav-contenedor")
						nav(class="navbar navbar-default navegador")
							div(class="container-fluid")
								div(class="navbar-header")
									button(type="button", class="navbar-toggle collapsed", data-toggle="collapse" , data-target=".navbar-collapse") 
										span(class="sr-only") Menu
										span(class="icon-bar")
										span(class="icon-bar")
										span(class="icon-bar")

								div(class="collapse navbar-collapse")
									ul(class="nav navbar-nav")
										li.inline-b
											a(href="", class="hidden-xs") 
												span(class="glyphicon glyphicon-home")
											a(href="", class="hidden-sm hidden-md hidden-lg") Home
										li.inline-b
											a(href="") Claves LADA
										li.inline-b
											a(href="") Códigos Postales
										li.inline-b
											a(href="") Mapas
										li.inline-b
											a(href="") Traza tu ruta
										li.inline-b
											a(href="") Visas y embajadas
										li.inline-b
											input(type="text", class="form-control", placeholder="Buscar")
											span(class="glyphicon glyphicon-search search-icon")

										li(class="hidden-md hidden-sm pull-right inline-b vb-link")
											a(href="", class="vb-link") Visita www.ViajesBojorquez.com

		div(class="container-fluid cuerpo-guia")
			div(class="row")
				//estados-lista(class="hidden-xs")
				div(class="col-sm-2 estados-lista hidden-xs")
					h2 Estados
					ul
						li
							a(href="") Aguascalientes
						li
							a(href="") Baja California
						li
							a(href="") Baja California Sur
						li
							a(href="") Campeche
						li
							a(href="") Chiapas
						li
							a(href="") Chihuahua
						li
							a(href="") Coahuila
						li
							a(href="") Colima
						li
							a(href="") Distrito Federal
						li
							a(href="") Durango
						li
							a(href="") Estado de México
						li
							a(href="") Guanajuato
						li
							a(href="") Guerrero
						li
							a(href="") Hidalgo
						li
							a(href="") Jalisco
						li
							a(href="") Michoacán
						li
							a(href="") Morelos
						li
							a(href="") Nayarit
						li
							a(href="") Nuevo León
						li
							a(href="") Oaxaca
						li
							a(href="") Puebla
						li
							a(href="") Querétaro
						li
							a(href="") Quintana Roo
						li
							a(href="") San Luis Potosí
						li
							a(href="") Sinaloa
						li
							a(href="") Sonora
						li
							a(href="") Tabasco
						li
							a(href="") Tamaulipas
						li
							a(href="") Tlaxcala
						li
							a(href="") Veracruz
						li
							a(href="") Yucatán
						li
							a(href="") Zacatecas



				//estados-lista-small(class="hidden-sm hidden-md hidden-lg")
				div(class="dropdown col-xs-6 estados-small hidden-sm hidden-md hidden-lg")
					button(type="button", class="btn btn-default dropdown-toggle", data-toggle="dropdown", arial-haspopup="true", arial-expanded="false") Estados
						span(class="caret")
					ul(class="dropdown-menu scrollable-menu")
						li
							a(href="") Aguascalientes
						li
							a(href="") Baja California
						li
							a(href="") Baja California Sur
						li
							a(href="") Campeche
						li
							a(href="") Chiapas
						li
							a(href="") Chihuahua
						li
							a(href="") Coahuila
						li
							a(href="") Colima
						li
							a(href="") Distrito Federal
						li
							a(href="") Durango
						li
							a(href="") Estado de México
						li
							a(href="") Guanajuato
						li
							a(href="") Guerrero
						li
							a(href="") Hidalgo
						li
							a(href="") Jalisco
						li
							a(href="") Michoacán
						li
							a(href="") Morelos
						li
							a(href="") Nayarit
						li
							a(href="") Nuevo León
						li
							a(href="") Oaxaca
						li
							a(href="") Puebla
						li
							a(href="") Querétaro
						li
							a(href="") Quintana Roo
						li
							a(href="") San Luis Potosí
						li
							a(href="") Sinaloa
						li
							a(href="") Sonora
						li
							a(href="") Tabasco
						li
							a(href="") Tamaulipas
						li
							a(href="") Tlaxcala
						li
							a(href="") Veracruz
						li
							a(href="") Yucatán
						li
							a(href="") Zacatecas


				//arte-lista-small(class="hidden-sm hidden-md hidden-lg")
				div(class="dropdown col-xs-6 arte-small hidden-sm hidden-md hidden-lg")
					button(type="button", class="btn btn-default dropdown-toggle", data-toggle="dropdown", arial-haspopup="true", arial-expanded="false") Arte y Cultura
						span(class="caret")
					ul(class="dropdown-menu")
						li
							a(href="") Destinos
						li
							a(href="") Historia
						li
							a(href="") Personajes
						li
							a(href="") Leyendas
						li
							a(href="") Gastronomía
						li
							a(href="") Festivales
						li
							a(href="") Zonas Arqueológicas
						li
							a(href="") Cultura Nacional
						li
							a(href="") Naturaleza
						li
							a(href="") Videos
						li(class="li-banner hidden-xs hidden-sm")
							img(src="../img/banner-arte.jpg", alt="Banner-Publicitario")

				div(class="col-xs-12 col-sm-8 col-md-8")
					h2 Estados
				//arte-lista(class="hidden-xs")
				div(class="col-sm-2 arte-lista hidden-xs")
					h2 Arte y Cultura
					ul
						li
							a(href="") Destinos
						li
							a(href="") Historia
						li
							a(href="") Personajes
						li
							a(href="") Leyendas
						li
							a(href="") Gastronomía
						li
							a(href="") Festivales
						li
							a(href="") Zonas Arqueológicas
						li
							a(href="") Cultura Nacional
						li
							a(href="") Naturaleza
						li
							a(href="") Videos
						li.li-banner
							img(src="../img/banner-arte.jpg", alt="Banner-Publicitario")
				
										
		script(src="scripts/jquery.js")
		script(src="scripts/bootstrap.js")
		script(src="scripts/jquery-cambios.js")