link(rel="import", href="../bower_components/polymer/polymer.html")
link(rel="stylesheet", href="../css/style.css")
dom-module(id="estados-lista")
	template
		div(class="col-sm-2 estados-lista")
			h2 Estados
			ul
				li
					a(href="") Aguascalientes
				li
					a(href="") Baja California
				li
					a(href="") Baja California Sur
				li
					a(href="") Campeche
				li
					a(href="") Chiapas
				li
					a(href="") Chihuahua
				li
					a(href="") Coahuila
				li
					a(href="") Colima
				li
					a(href="") Distrito Federal
				li
					a(href="") Durango
				li
					a(href="") Estado de México
				li
					a(href="") Guanajuato
				li
					a(href="") Guerrero
				li
					a(href="") Hidalgo
				li
					a(href="") Jalisco
				li
					a(href="") Michoacán
				li
					a(href="") Morelos
				li
					a(href="") Nayarit
				li
					a(href="") Nuevo León
				li
					a(href="") Oaxaca
				li
					a(href="") Puebla
				li
					a(href="") Querétaro
				li
					a(href="") Quintana Roo
				li
					a(href="") San Luis Potosí
				li
					a(href="") Sinaloa
				li
					a(href="") Sonora
				li
					a(href="") Tabasco
				li
					a(href="") Tamaulipas
				li
					a(href="") Tlaxcala
				li
					a(href="") Veracruz
				li
					a(href="") Yucatán
				li
					a(href="") Zacatecas
	script.
		Polymer({ is: "estados-lista" });